/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/*HTML configuration*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-decoration: none;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100vh;
    overflow-x: hidden;
}


/*colors used in styling*/
:root{
  --white: #fff;
  --black: #24292d;
  --nav-blue-semi-main: #145ecdce;
  --nav-blue-semi-dark:rgba(17, 69, 147, 0.808);
  --lightgray-bg: #f0f8ff9c;
}

/*scroll bar styling*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover{
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #535252;
    position: absolute;
}


section {
  padding: 8rem 0 5rem 0;
}

.max-width {
  max-width: 140rem;
  padding: 0 80px;
  margin: auto;
}

.about, .education, .skills, .gallery, .contact, footer{
  font-family: 'Poppins', sans-serif, Arial;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.education .edu-content {
  display: block;

}

section .title {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 7rem;
  padding-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 40rem;
  height: .5rem;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 2rem;
  color: var(--nav-blue-semi-main);
  text-wrap: nowrap;
  padding: 0 1rem;
  background: #fff;
  transform: translateX(-50%);
}

/* education section styling */
.education .title::after{
  content: "My academic Progress";
}
.education .edu-content .card{
  width: calc(100% - 1rem);
  background: #ddd;
  padding: 5rem 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 0.7rem var(--black);
  
}
.education .edu-content .card:hover{
  background: var(--nav-blue-semi-main);
}
.education .edu-content .card .box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 2rem;
  flex: 1 1 20rem;
}

.education .edu-content .card .box .icon_edu {
height: 100%;
width: 20rem;
border: .2rem solid var(--black);
border-radius: 3rem;
overflow: hidden;
}

.edu-content .card .box .icon_edu .class_pic {
height: 100%;
width: 100%;
position: relative;
object-fit: cover;
object-position: top;
}

.edu-content .card .box .text_edu {
font-size: 2rem;
text-wrap: wrap;
margin-left: 2rem;
}

.edu-content .card .box .text_edu h2{
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.edu-content .card .box .text_edu p{
  font-size: 2rem;
  }

.edu-content .card .box .text_edu span{
  font-size: 2rem;
  color: var(--nav-blue-semi-main);
}